* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main{
    padding: 4rem 1rem;
    text-align: center;
}

main > div {
    width: 100%;
    max-width: 35em;
    margin: auto;
}

pre {
    text-align: left;
    padding: 1em .5em;
    border-radius: 1.5em;
}

h2 span{
    color: #3273dc;
    margin: 0 0.5rem;
}