* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    width: 100vw;
    height: 100vh;
}

#main {
    text-align: center;
    padding: 1em;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 100%;
    overflow: auto;
}

#main > div {
    max-width: 35em;
    margin: auto;
}

pre {
    text-align: left;
    padding: 1em .5em;
    border-radius: 1.5em;
}

h2 span{
    color: #3273dc
}